#main-body {
    display: grid;
    grid-template-columns: minmax(300px,auto);   
    grid-gap: 20px;
    width:50px;
    float: left;
    text-size-adjust: 50px;
    font-size: xx-small;
}



fieldset{
  float: left;
  background-color: rgb(174, 250, 240);
 font-size: large;
}
li{
    font-size: large;
    position: relative;
    left: 20px;
    
}
p{
    font-size: large;
}
h1{
    background-color: rgb(118, 62, 170);
}
